@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap'); 

body{
    background-color: #d6e2f0;
    font-family: 'outfit';
    display: flex;
    height: 100vh;;
}

p {
    font-size: 0.9rem;
    color: #7b879d;
    text-align: center;
    padding-bottom: 24px;
    margin: 0 24px;
}

h1 {
    font-weight: 700;
    color: #1f3251;
    text-align: center;
    font-size: 1.4rem;
    padding-top: 32px;
    padding-bottom: 8px;
}


.container {
    display: flex;
    justify-content: center;
    max-width: 320px;
    flex-wrap: wrap;
    padding: 16px;
    margin: 24px;
    border-radius: 20px;
    background: #ffffff;
    align-self: center;
}
.card{
    display: block;
    overflow: hidden;
    border-radius: 10px;
    margin: auto;
}